<div class="content1">
    <div class="media position-relative content11">
      <img src="/assets/Imagenes/img_cont1.jpeg" height="150px" width="300px" class="mr-3" alt="...">
      <div class="media-body">
        <h5 class="mt-0">Consultoría Especializada y Organizacional</h5>
        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
      </div>
    </div>

    <div class="media position-relative content12">
      <img src="/assets/Imagenes/img_cont2.jpeg" height="150px" width="300px" class="mr-3" alt="...">
      <div class="media-body">
        <h5 class="mt-0">Proyectos de Implementación</h5>
        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
      </div>
    </div>
  </div>

  <div class="content2">
    <div class="card content21" style="width: 18rem;">
      <img src="/assets/Imagenes/img_cont3.jpeg" height="150px" width="300px" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Proyectos de Investigación, Desarrollo e Innovación</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
    <div class="card content22" style="width: 18rem;">
      <img src="/assets/Imagenes/img_cont4.jpeg" height="150px" width="300px" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Capacitación y Formación de Recurso Humano</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
    <div class="card content23" style="width: 18rem;">
      <img src="/assets/Imagenes/img_cont5.jpeg" height="150px" width="300px" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Desarrollo de Negocios y Posicionamiento en Internet</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>

