.content1{
    margin-top: 50px;
    margin-left: 120px;
    margin-right: 150px;
}

.content11{
    margin-bottom: 10px;
}

.content2{
    margin-top: 20px;
    margin-left: 120px;
    margin-right: 0px;
    display: flex;
}

.content22{
    margin-left: 50px;
}

.content23{
    margin-left: 50px;
}

.imagen1{
    margin-right: 50px;
}