<div class="content1">
    <div class="media position-relative content11">
      <img src="/assets/Imagenes/bantersnaps-REyoFHP9pw8-unsplash.jpg" height="150px" width="300px" class="mr-3" alt="...">
      <div class="media-body">
        <h5 class="mt-0">BioMecanica</h5>
        <h6>Movimiento humano</h6>
        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
      </div>
    </div>

    <div class="media position-relative content12">
      <img src="/assets/Imagenes/national-cancer-institute-NFvdKIhxYlU-unsplash.jpg" height="150px" width="300px" class="mr-3" alt="...">
      <div class="media-body">
        <h5 class="mt-0">BioInstrumentacion</h5>
        <h6>Señales BioMedicas</h6>
        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
      </div>
    </div>

    <div class="media position-relative content13">
      <img src="/assets/Imagenes/josh-riemer-OH5BRdggi2w-unsplash.jpg" height="150px" width="300px" class="mr-3" alt="...">
      <div class="media-body">
        <h5 class="mt-0">NeuroRegulacion</h5>
        <h6>Biofeedback</h6>
        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
      </div>
    </div>
</div>
