<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="logo-menu">
    <a target="_blank" href=""><img src="/assets/Logos/Img_psychiatry.png" alt="" width="50px" height="50px"></a>
  </div>
  <a class="navbar-brand menu-nombre" href="#">BioIngenio.com</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto menu-bar titulos-bar">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle menu-areas" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Que hacemos?</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/areas">Areas</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/servicios">Servicios</a>
          </div>
        </li>
        <li class="nav-item menu-areas">
          <a class="nav-link" routerLink="/login">Ingresa</a>
        </li>
        <li class="nav-item menu-areas">
          <a class="nav-link" routerLink="/registro">Registrate</a>
        </li>
        <li class="nav-item menu-areas">
          <a class="nav-link" routerLink="/showAllUser">Usuarios</a>
        </li>
      </ul>
    </div>
    <div class="logo-medico">
      <a target="_blank" href=""><img src="/assets/Logos/Img_medico.png" alt="" width="50px" height="50px"></a>
    </div>
  </nav>
