.footer{
    margin-top: 30px;
    margin-left: 0px;
    margin-bottom: 0px;
    display: flex;
    color: grey;
    position: fixed;
    bottom: 0px;
}

.titulo-footer{
    margin-left: 700px;
}

.Iconosredes{
    display: flex;
    margin-left: 490px;
}