<div class="footer">
  <div class="titulo-footer">
    <h2>www.proyect<span style="color:red">a.</span>net</h2>
  </div>
  <div id="Redes" class="Iconosredes">
        
    <div class="Ajusteicono">   
      <a target="_blank" href=""><img src="/assets/Logos/Img_facebook_1.png" width="50" height="50" alt=""> </a>
    </div>
  
    <div class="Ajusteicono">
      <a target="_blank" href=""><img src="/assets/Logos/Img_Instragram_1.jpeg" width="50" height="50" alt=""> </a>
    </div>

    <div class="Ajusteicono">
      <a target="_blank" href=""><img src="/assets/Logos/Img_Twitter_1.png" width="50" height="50" alt=""> </a>
    </div>
</div>
